/* Styles for Mobile devices */
.cont {
  /* min-width: 320px;
  max-width: 375px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .cont {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .cont {
    max-width: 1200px;
  }
}
.hero {
  display: flex;

  text-align: center;
  margin-bottom: 32px;
}

.form-timer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.set-timer {
  /* font-family: var(--font-family); */
  display: flex;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;

  outline: none;
}

.btn-start {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
  border: none;
}
.timer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  width: 346px;
  height: 72px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 55px;
  height: 72px;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
